*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient( coral, darkorange), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: black;
    font-size: 35px;
    font-family: Arial;
    padding-left: 0;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:white;
}

.search{
    width: 300px;
    float: left;
    margin-left: 250px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    margin-top: 8px;
    color: black;
    border-right: none;
    font-size: 15px;
    float: left;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btnn{
    width: 100px;
    height: 40px;
    background: black;
    border: 2px solid black;
    margin-top: 8px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btnn:hover{
    background-color: lightsalmon;
}

.btnn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
    color: black;
    padding-left: 5px;
}

.content .par{
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    margin-top: 7%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: black;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.content .cn a{
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

.cn:hover{
    background-color: coral;
}

.content span{
    color: brown;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 330px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    position: absolute;
    top: -20px;
    right: 60px;
    border-radius: 10px;
    padding: 30px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 22px;
    background-color: lightsalmon;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
    transition: 0.2s ease;
}

.form h2:hover{
    background-color: white;
}

.form input{
    width: 235px;
    height: 30px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 30px;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btn{
    width: 235px;
    height: 30px;
    background-color: lightsalmon;
    margin-top: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    transition: 0.2s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
    color: white;
}

.form .link a{
    text-decoration: none;
    color: lightsalmon;
    font-size: 16px;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.icons a{
    text-decoration: none;
    color: white;
}

.icons ion-icon{
    color: white;
    font-size: 25px;
    padding-left: 17px;
    padding-top: 5px;
    transition: 0.2s ease;
}

.icons ion-icon:hover{
    color: lightsalmon;
}